@use "sass:color";

$uoc-corporate: #105c10c5;
$uoc-masterbrand: #1da011;
$uoc-bg: #d8d8d8;
$color-text-dark: #25324b;
$color-text-light: #fff;
$color-accent: #63c3ff;
$color-bg-dark: #1a1a1a;
$color-bg-light: #dbf3ff;
$box-shadow-default: 0 4px 12px rgba(0 0 0 / 12%);
$border-radius-default: .5rem;
$font-family-sans-serif: "Inter", -apple-system, blinkmacsystemfont, "Segoe UI",
  roboto, "Helvetica Neue", arial, sans-serif;
$font-family-serif: "Merriweather", georgia, "Times New Roman", serif;

